@model IEnumerable<GiaoHangTietKiem.NhanVien>

@{
    ViewBag.Title = "IndexStaff";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>IndexStaff</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BacLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaPB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BacLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaPB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNK)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditStaff", new { id=item.MaNV }) |
            @Html.ActionLink("Details", "DetailsStaff", new { id=item.MaNV }) |
            @Html.ActionLink("Delete", "DeleteStaff", new { id=item.MaNV })
        </td>
    </tr>
}

</table>
