@model IEnumerable<GiaoHangTietKiem.PhongBan>

@{
    ViewBag.Title = "IndexDepartment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>IndexDepartment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhiemVu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhiemVu)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditDepartment", new { id=item.MaPB }) |
            @Html.ActionLink("Details", "DetailsDepartment", new { id=item.MaPB }) |
            @Html.ActionLink("Delete", "DeleteDepartment", new { id=item.MaPB })
        </td>
    </tr>
}

</table>
